

   .section-title-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;
   }

@media screen and (max-width: 767px) {

        .container-list {
            padding: 86px 16px;
            margin: 0;
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .section-title {
            margin-top: 0;
            margin-bottom: 8px;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.111;
            text-align: center;
            letter-spacing: 0.02em;
            color: $title-text-color;
        }
    
        .section-text {
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0.02em;
        }
    
       
           .item-section-features:not(:last-child) {
               margin-bottom: 72px;
           }

           
                 
}


@media screen and (min-width: 768px) {
    
    .section {
        padding-top: 96px;
        padding-bottom: 96px;

    }

    .container-list {
       margin: 0;
       max-width: 768px;
    margin-left: auto;
        margin-right: auto;
    }

   
   
    .main-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    .item-section-features {
        width: 50%;
        
        margin: 12px;
        flex-basis: calc((100% - 2 * 24px ) / 2);
        margin-right: 0;
    
    }

    
    .section-title {
        margin-top: 0;
            margin-bottom: 8px;
            font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 1.111;
                letter-spacing: 0.02em;
    }

    

}

@media screen and (max-width: 1199px) {
    .link-features {
        display: none;
    }

        
         .section-sec {
             display: none;
         }
}

@media screen and (max-width: 767px) and (max-width: 1199px){
   
        .main-section {

            flex-wrap: wrap;
        }


}


@media screen and (min-width: 1200px) {

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container-list {
        
            margin: 0;
            
            margin-left: auto;
            margin-right: auto;

    }

    .main-section {
        flex-wrap: nowrap;
        max-width: 1158px;
        margin-left: auto;
        margin-right: auto;
        
    }

    .item-section-features {
        margin: 0;
    }

    .section-title {
        font-weight: 500;
            font-size: 20px;
            line-height: 1.20;
           
    }

                .section-list {
                    display: flex;
                  gap: 24px;
                }
         
                .section-text {
                    font-weight: 400;
                }
        
    
        .main-section .item-section-features {
            width: 264px;
        }
    
      
       
        .link-features {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 264px;
            height: 112px;
            margin-bottom: 8px;
            border-radius: 4px;
            background-color: $additional-background-color;
        }
    
        .icon-features {
            
            width: 60px;
            height: 64px;
        }

}

