

.hero-title {
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 320px;

    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
}





.button-hero {
    padding: 16px 32px;
    min-width: 169px;

    color: $main-bgrnd-color;
    background-color: $accent-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    border-radius: 4px;
    border: 1px solid transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
    padding-top: 112px;
    padding-bottom: 72px;
    text-align: center;

    background-color: rgba(46, 47, 66, 0.7);
    
    margin: 0 auto;

    
    background-image: $grad-hero, url(../images/mob1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    }

         @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
         screen and (min-resolution: 192dpi) and (max-width: 767px),
         screen and (min-resolution: 2dppx) and (max-width: 767px) {

         
    
             .hero {
                 background-image: $grad-hero, url(../images/mob@2x.jpg);
                 max-width: 480px;
             }
         }

@media screen  and (min-width: 768px) {

    .hero {
        background-image: $grad-hero, url(../images/tab1x.jpg);
    }

        @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
    
            .hero {
                background-image: $grad-hero, url(../images/tab@2x.jpg);
            }
        }

       
}

@media screen and (min-width: 1200px) {

    .hero {
        background-image: $grad-hero, url(../images/desktop1x.jpg);
    }

     @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    
            .hero {
                background-image: $grad-hero, url(../images/desktop@2x.jpg);
            }
        }

     
}

@media screen and (max-width: 767px) {
    .hero {
        max-width: 480px;
    }
    
}

@media screen and (max-width: 1199px) {
    .hero {
        max-width: 768px;
    }

}

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1200px;
    }

}




    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .backdrop {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $backdrop-color;
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(1.1);
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 72px 24px 24px 24px;
        border-radius: 4px;
        max-width: 392px;
        width: 100%;
        max-height: 586px;

        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: $modal-bgd-color;
        box-shadow: $modal-shadow;
    }

    .icon-modal {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .close-modal {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        border: 1px solid $modal-close-color;
        background-color: $footer-text-color;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0;
        fill: $title-text-color;
    }

    .close-modal:hover,
    .close-modal:focus {
        background-color: $accent-color;
        fill: $main-bgrnd-color;
    }

    .form-modal-text {
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.02em;
        color: $title-text-color;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .top-label {
        font-size: 12px;
        line-height: 1.17;

        margin-bottom: 4px;
        letter-spacing: 0.04em;

        color: $bgd-soc-color;
    }

    .form-field {
        display: flex;
        flex-direction: column;

        margin-bottom: 8px;
        border-radius: 4px;
    }

    .form-input {
        padding: 11px 38px;
        margin: 0;
        border: 1px solid $backdrop-color;
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        height: 40px;
        background-color: transparent;
    }

    .form-label {
        margin-bottom: 4px;
        color: $bgd-soc-color;
    }

    .button-form {
        align-items: center;
        display: flex;
        justify-content: center;

        min-width: 169px;
        padding: 16px 32px;
        margin-left: auto;
        margin-right: auto;
        line-height: 24px;
        border-radius: 4px;
        border-color: transparent;
        color: $main-bgrnd-color;

        background-color: $accent-color;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button-form:hover,
    .button-form:focus {
        background-color: $accent-page-color;
        box-shadow: $btn-form-shadow;
    }

    .form-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);

        width: 18px;
        height: 18px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .thumb-form {
        position: relative;
    }

    .form-icons {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        width: 18px;
        height: 24px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .thumb-form:focus-within>.form-input {
        border-color: $form-focus-form;
        outline: none;
    }

    .thumb-form:focus-within>.form-icon,
    .thumb-form:focus-within>.form-icons {
        fill: $form-focus-form;
    }

    .form-comment {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    .user-comments-area {
        width: 100%;
        height: 120px;
        margin: 0;
        padding: 8px 16px;
        border: 1px solid $backdrop-color;
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: transparent;
        resize: none;
    }

    .user-comments-area::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: $backdrop-color;
    }

    .form-comment:focus-within>.user-comments-area {
        border-color: $form-focus-form;
        outline: none;
    }

    .privacy-link {
        color: $form-focus-form;
        display: inline-block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-left: 4px;
    }

    .check-text {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .check-text>.check-icon {
        width: 16px;
        height: 16px;
        border: 1px solid $backdrop-color;
        border-radius: 2px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .checkbox-input:checked+.check-text>.check-icon {
        background-color: $accent-page-color;
        border: none;
        fill: $additional-background-color;
    }

    .checkbox-input:focus+.check-text>.check-icon {
        border-color: $accent-page-color;
    }

    .form-agree {
        margin-bottom: 24px;
        width: 100%;
    }

    .text-form {
        width: 100%;
        height: 16px;
        display: flex;

        align-items: baseline;
        height: 16px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: $bgd-soc-color;
    }

    .check-text {
        display: flex;
        align-items: center;
    }

    .checkbox-input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .icon-checkbox {
        width: 10px;
        height: 8px;
    }





